<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>event details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

</head>
<body ng-cloak>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
            </ul>
        </div>
    </div>
    <div ng-controller="EditEventController" style="padding-left: 20px; padding-right: 20px">
        <div class="container">
            <h1>New Event</h1>
            <hr />
            <style>input.ng-dirty.ng-invalid {background-color: lightpink}</style>
            <form name="newEventForm">
                <fieldset>
                    <label for="eventName">Event name:</label>
                    <input ng-model="data.event.name" id="eventName" type="text"
                           required placeholder="Propose new name"/>
                    <label for="eventDate">Event date:</label>
                    <input ng-model="data.event.date" id="eventDate" type="text"
                           required ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="date here (mm/dd/yyyy)"/>
                    <label for="eventTime">Starts at:</label>
                    <input ng-model="data.event.time" id="eventTime" type="text" placeholder="?"/>
                    <label for="eventLocation">Event location:</label>
                    <input ng-model="data.event.location.address" id="eventLocation" type="text" placeholder="Propose the place"/>
                    <br />
                    <input ng-model="data.event.location.city" id="eventCity" type="text" class="input-small" placeholder="City?"/>
                    <input ng-model="data.event.location.state" id="eventProvince" type="text" class="input-small" placeholder="Province?"/>

                    <label for="eventImageUrl">Event logo:</label>
                    <input ng-model="data.event.imgUrl" id="eventImageUrl" type="url" class="input-xlarge" placeholder="Url for image"/>

                </fieldset>
                <div>{{data.event.name}}</div>

                <img ng-src="{{data.event.imgUrl}}" src=""/>
                <br />
                <br />
                <button ng-click="saveEvent(event, newEventForm)"
                        ng-disabled="newEventForm.$invalid"
                        type="submit" class="btn btn-primary">Save</button>
                <button ng-click="cancelEdit()" type="button" class="btn btn-default">Cancel</button>

            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-sanitize.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/services/EventData.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/js/controllers/EventController.js"></script>
</body>
</html>
